<section id="books" class="mt-5">
  <div class="container">
    <div class="card">
      <div class="card-header text-center" style="background-color: #2b393d ;color: white">
        <h2>Bienvenido {{user.name}}!!</h2>
      </div>
      <div class="card-body">
        <div class="col">
          <h4 class="text-center"><i class="fas fa-award"></i> GenericContact es un sistema de agenda personal.<br>
            <i class="fas fa-address-book"></i> Comienza a agregar a tus contactos</h4>
        </div>
      </div>
    </div>
  </div>
</section>  